@import "../../styles.scss";

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10px;
    height: 90vh;
    opacity: 0.8;
    align-content: center;
    background: black;
    transition: all 1s ease-out;

    .MuiOutlinedInput-input {
        padding: 1.1rem !important;
    }

    &-form {
        display: flex;
        flex-direction: column;
    }
    .login-container {
        opacity: 0;
    }
    .MuiInput-underline:after,
    .MuiInput-underline:before {
        border: none !important;
    }

    input[name="pwd"] {
        -webkit-text-security: disc !important;
    }
}

.animate-load {
    width: 100vw;
    height: 100vh;
    background: $content-background;
    opacity: 1;
    transition: width 0.4s ease-out;
    .login-container {
        opacity: 1;
        transition: opacity 3s ease-out;

        padding: 2rem;
    }
}
@media only screen and (orientation: landscape) {
    .animate-load {
        .login-container {
            padding: 0.1rem;
        }
    }
}
