@import "./styles.scss";

label {
  color: rgba($main-color, 0.9) !important;
  font-size: 1.1rem;
  display: block;
}

.MuiSelect-root .MuiSelect-select .MuiSelect-selectMenu .MuiInputBase-input .MuiInput-input {
  padding: 22px !important;
}
.MuiSelect-icon {
  color: $main-color !important;
  width: 6rem !important;
  top: -37px !important;
  right: -18px !important;
  height: auto !important;
}
.MuiInput-underline:after,
.MuiInput-underline:before {
  // border: solid 1px rgba( $main-color, 1 ) !important;
  margin: -21px 0px 1px 0px;
  height: 29px;
}
.MuiInput-underline:after {
  position: initial !important;
  transform: none !important;
}
.MuiInputBase-input,
.MuiInput-underline:before {
  color: white !important;
  font-size: 28px !important;
  padding: 22px 6px 21px 17px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url("./images/date_range-white-18dp.svg") no-repeat;
  width: 40px;
  height: 40px;
  border-width: thin;

  padding: 6px 5px;
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background: url("./images/access_time-white-18dp.svg") no-repeat;
}

.MuiInputBase-input,
.MuiInput-underline:before,
input:-internal-autofill-selected {
  background-color: transparent !important;
  color: white !important;
}
input:-webkit-autofill {
  background-color: #e91e63 !important;
}
select {
  &:focus {
    border: solid 0.5px $main-color !important;
    outline: $main-color !important;
  }
}
